body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  color: #717171;
  background-color: #ffffff;
}
b,
strong {
  font-weight: 400;
}
@media (min-width: 1400px) {
  .container {
    max-width: 1140px;
  }
}
/* @media (min-width: 1400px) {
  .container {
    max-width: 1140px;
  }
} */
/* @media (min-width: 992px) and (min-width: 1101px) {
  .cd-read-more {
    display: block;
    position: absolute;
    top: 5em;
    right: calc(50% - 500px);
  }
  .cd-read-more.fixed {
    position: fixed;
    right: calc(50% - 500px);
  }
} */
